.cabec{
    
    display: flex;
    margin-left: 600px;
    margin-top: -150px;
    font-size: 35px;
      
    
   
}
a{
  margin-left: 25px;
}

.video{
   margin-left: 100px;
   margin-top: 150px;
}
img{
    width: 450px;

}
  button{
    font-size: 25px;
    margin-left: 45px;
  }
  .parag{
    margin-top: 150px;
    font-size: 30px;
    width: 1800px;
    margin-left: 80px;
  }
  .ini{
    width: 100%;
    height: 55px;
    background-color: blue;
  }
  .fim{
    width: 100%;
    height: 150px;
    background-color: blue;
        
  }
  .rod{
    width: 200px;
    margin-left: 200px;
    margin-bottom: -110px;
  }
  .end{
    color: aliceblue;
    font-size: 18px;
    margin-left: 650px;
    margin-bottom: -10px;

  }
  .text{
    font-size: 35px;
  }