.cabec{
    
    display: flex;
    margin-left: 900px;
    margin-top: -150px;
    
    
   
}

iframe{
    margin-left: 250px;
    margin-top: 300px;
}
img{
    width: 450px;

}
  button{
    font-size: 25px;
    margin-left: 45px;
  }
  .parag{
    margin-top: 150px;
    font-size: 30px;
    width: 1800px;
    margin-left: 80px;
  }